/******************************* MARKDOWN LIST ***********************************/ 

.branding {
    display: flex; /* Allows for more control over child elements */
    align-items: center; /* Aligns the children vertically */
}

.branding span {
    font-weight: bold;
    margin-right: 10px; /* Adds spacing between the branding elements if needed */
}

/* If DEVELOPER PORTFOLIO needs to be smaller and less prominent */
.branding span:last-child {
    font-weight: normal;
    font-size: 0.8em;
}

/* Button styling */
.dropdown-button {
    background-color: #000000; /* Green background */
    color: white; /* White text */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #402194}


/* Header top bar styling */
.header-top {
    background-color: #000000; /* Or the color you prefer */
    color: white;
    display: flex;
    justify-content: space-between; /* Keeps items spread apart */
    align-items: center;
    padding: 10px 20px; /* Adjust the padding as needed */
}


/******************************* BODY ***********************************/ 

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000 0%, #136ac2 50%, #054280 100%);
    margin: 0;
    padding: 0;
}

.main-nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    margin: 0 20px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    color: rgb(255, 255, 255); /* Ensures text is black */
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
    margin-top: 20px; /* Reduce or remove the top margin */
}

/* Style for the image */
.self-portrait {
    display: block; /* Ensures the image is a block-level element */
    margin: 20px auto; /* Centers the image horizontally */
    max-width: 150px; /* Adjusts the width of the image to your preference */
    border-radius: 50%; /* Makes the image round */
    border: 3px solid white; /* Optional: adds a white border around the image */
}

/* Style for the intro section if needed */
.intro {
    text-align: center; /* Centers the content */
    padding: 20px 20px 0; /* Reduced bottom padding */
    margin-bottom: 0; /* Reduce or remove the bottom margin */
    position: relative; /* Add position relative */
}

/* Update the paragraph styling within the .hero section */
.hero p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px; /* Optional: Adjust as needed */
    margin: 0 auto;
    padding: 0; /* Removes padding */
    background-color: transparent; /* Removes white background */
    box-shadow: none; /* Removes box shadow */
    color: rgb(255, 255, 255); /* Ensures text is black */
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}


/* LINKEDIN + GITHUB BUTTONS */
.social-buttons {
    position: absolute;
    bottom: -70px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.social-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin-right: 10px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 70%; /* Adjust as needed */
    background-position: center center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.social-button:last-child {
    margin-right: 0;
}

.social-button:hover {
    background-color: #055a8c; /* Darker shade of LinkedIn blue */
}

.linkedin-button {
    background-color: #0077B5; /* LinkedIn blue */
    background-image: url('images/linkedin-logo.png');
}

.github-button {
    background-color: #333; /* GitHub gray */
    background-image: url('images/github-logo.png');
}

.github-button:hover {
    background-color: #24292e; /* Darker shade of GitHub gray */
}


/******************************* PROJECTS ***********************************/ 

#projects {
    background-color: #06294d;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project, .project-content {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    text-align: center; /* Center project titles */
}

.project-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper-flexbox .card {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust margin between cards if needed */
}


.project-content img {
    width: 30%;
    margin-right: 20px;
}

.project-description {
    width: 65%;
}

#projects h2 {
    color: white;
}

.project h3 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.project h3 a {
    text-decoration: none;
    color: #333;
}

.project h3 a:hover {
    text-decoration: underline;
    color: #007BFF;
}

/* Existing CSS styles */
.project-description p {
    font-size: 18px; /* Font size for project description */
    color: #666;
}

.project-description .tools-frameworks,
.project-description .skills {
    font-size: 12px; /* Lower font size for tools-frameworks and skills */
    margin-top: 10px; /* Adjust margin as needed */
    display: flex;
    align-items: flex-start; /* Align items to the start (left) */
}

/* Brighten the colors */
.project:nth-child(odd) {
    background-color: #f9f9f9; /* Light gray background for odd-numbered projects */
}

.project:nth-child(even) {
    background-color: #edf7ff; /* Light blue background for even-numbered projects */
}

/* Style the first project */
.project:first-child {
    background-color: #ffecec; /* Light pink background for the first project */
}

/******************************* FOOTER ***********************************/

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 1px solid #ccc;
}
